/*this is the font fave for media icons*/
@font-face {
  font-family: 'fontello';
  src: url("../resources/fonts/fontello/fontello.eot");
  src: url("../resources/fonts/fontello/fontello.eot?#iefix") format('embedded-opentype'), url("../resources/fonts/fontello/fontello.woff") format('woff'), url("../resources/fonts/fontello/fontello.ttf") format('truetype'), url("../resources/fonts/fontello/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

.list-with-background {
	opacity:0.9;
}

#artist_info p {
	display:inline-block;
}

#music_artist_albums ul {
	width: 60%;
	float: left;
}

#artist_info {
	display:inline-block;
	width: 30%;
	float: right;
	border-radius: .6em;
	background-color: rgba(255,255,255, 0.8);
}

#artist_info_inner {
	padding: 1px 14px;
}

#artist_info_inner h1 {
	cursor:pointer;
	cursor:hand;
}


.movie-info-div-inner {	
	padding: 14px;
}
#movie_content
{
	padding:0px;
	text-shadow: 0 1px 0 #878787;
}
.movie_thumb {
  	float:left;
  	margin-right:20px;
  	height:400px;
  }


 .album_info {
	  	display:inline-block;
	    width: 30%;
	    float: right;
	    margin-right: 10px;
	    background-color: rgba(255,255,255, 0.8);
		border-radius: .6em;
		margin-top: 1em;
	  }
	  .album_info_inner {
	  	padding:14px;
	  }
	  .album_info img {
	  	width:100%;	  	
	  }
	  .album_songs {
	    width: 65%;
	    float: left;
	    display:inline-block;
	  }

/* EPISODES */
.episode_info {
	float:right;
	width:60%;
	background-color: rgba(255,255,255,0.8);
	border-radius: .6em;
}

.episode_info_inner {
	padding:10px;
}

.episode_thumb {
	width:30%;
	float:left;
	background-color: rgba(255,255,255,0.8);
	border-radius: .6em;
	margin-bottom:14px;
}

.episode_thumb_inner {
	padding:10px;	
}
.episode_thumb_inner img {
	width: 100%;
}

#episode_content {

}

#season_content .has-season-art {
	width:60%;
	float:right;
	display:inline-block;
}


#season_content .season-art {
	width:30%;
	float:left;
	display:inline-block;
}

#season_info_holder img {
	width:100%;
}

#season_info_holder h2 {
	background-color: rgba(255,255,255, 0.9);
	display: inline-block;
	border-radius: .6em;
	padding: 10px;
	display:none;
}

#show_season_list {
	float:left;
	width:60%;
}

#tv_show_info {
	border-radius: .6em;
	background-color: rgba(255,255,255, 0.9);
	float:right;
	width:30%;
}

#tv_show_info.has-artwork h2 {
	display:none;
}

#tv_show_inner {
	padding:14px;
}

#tv_show_inner h2 {
	margin: 0px;
}

#tv_show_inner img {
	max-width:100%;
}
/*responsive css for different screen sizes*/
	@media all and (max-width: 1279px) {
		#music_artist_albums ul {
	  	float:none;
	  }

	  #music_artist_albums ul {	  	
	  	float:none;
	  	width:100%;
	  }

	  #artist_info {	  	
	    float:none;
	    width:100%;
	  }	  	

	  #artist_info p {
	  	display:none;
	  }	   
	}

	@media all and (max-width: 767px) {
		

	  .album_info {
	    width: 100%;
	    float:none;
	  }
	  .album_info img {
	  	width:100%;
	  }
	  .album_songs {
	    width: 100%;
	  }

	  #episode_info img {
	  	width:100%;
	  	margin-right:10px;
	  }
	  .movie-info-div { }
 		.movie-info-div-inner {	
			padding: 14px;
		}
		#movie_content
		{
			padding:0px;
			text-shadow: 0 1px 0 #878787;
		}
		.movie_thumb {
			/*width:100%;*/
		}

		.episode_info {
			float:none;
			width:100%;
		}

		.episode_thumb {
			float:none;
			width:100%;
		}

		#season_content .has-season-art {
			width:100%;
			display:inline-block;
		}


		#season_content .season-art {
			width:100%;
			text-align:center;
			display:inline-block;
		}

		#season_info_holder img {
			display:none;
		}

		#tv_show_inner img {
			width:100%;
		}

		#show_season_list {
			float:none;
			width:100%;
		}

		#tv_show_info {			
			float:none;
			width:100%;
		}

		#tv_show_info p {
			display:none;
		}

	}


	@media all and (max-width: 479px) {
	  .album_info {
	    width: 100%;	    
	  }
	  .album_info img {
	  	width:100%;
	  }
	  .album_songs {
	    width: 100%;
	  }

	  #episode_info img {
	  	width:100%;
	  	margin-right:10px;
	  }
	  .movie-info-div { }
 		.movie-info-div-inner {	
			padding: 14px;
		}
		#movie_content
		{
			padding:0px;
		}
		.movie-thumb-holder {
			width:100%;
			display:inline-block;
			text-align:center;
		}

		.movie_thumb {
			float:none;
			margin:0px;
		}	

		#music_artist_albums ul {
		  	width: 100%;
		    float: left;
		    margin-top:10px;
		  }			
	}


.movie-info-div {
	background-color:rgba(255, 255, 255, 0.6);
}

#music_artist_albums {
	height:100%;
}


/*remote control*/

.remote-button-holder {
	width:100%;
	text-align:center;	
}

.remote-button {
	width:70px;
	height: 70px;	
	background-color:grey;
	text-align:center;
	/*background-color: #DDD;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
	background-image: -webkit-linear-gradient(top, #EEE, #CCC);
	background-image: -moz-linear-gradient(top, #EEE, #CCC);
	background-image: -ms-linear-gradient(top, #EEE, #CCC);
	background-image: -o-linear-gradient(top, #EEE, #CCC);
	background-image: linear-gradient(top, #EEE, #CCC);*/
	border: 1px solid #777;
	display:inline-block;
	cursor:pointer;
	cursor:hand;
	font-family:fontello;
	color: white;
	font-size: 60px;
	margin-bottom: 4px;
}

.down-button::before {
	content: '\e75c';
}
.fullscreen-button::before {
	content: '\e744';
}
.mute-button::before {
	content: '\e800';
}
.left-button::before {
	content: '\e75d';
}
.right-button::before {
	content: '\e75e';
}

.select-button::before {
	content: '\f10c';
}

.back-button::before {
	content: '\f112';
}
.up-button::before {
	content: '\e75f';
}

.home-button::before {
	content: '\2302';
}

.play-button::before {
	content: '\25b6';
}

.pause-button::before {
	content: '\2389';
}

.prev-button::before {
	content: '\23ea';
}

.next-button::before {
	content: '\23e9';
}

.volume-holder {
	margin-left:auto;
	margin-right:auto;
	width: 300px;
	
	margin-bottom:40px;
}

.volume-holder .ui-slider-input {
    display : none;
}

.volume-holder div.ui-slider {
	width:100%;
	margin:0px;
}